<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="{% if request.path == '/welcome/' %} active {% endif %} "><a href="/">Back to login</a></li>
                <li class="{% if request.path == '/about/' %} active {% endif %} "><a href="/about">About</a></li>
                <li class="{% if request.path == '/calculator/' %} active {% endif %} "><a href="#">Calculator</a></li>
                <li class="{% if request.path == '/result/' %} active {% endif %} "><a href="/result">Result Counter</a></li>
                <li class="{% if request.path == '/contact/' %} active {% endif %} "><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <h1 style="color:white; margin-top:4%;">Calculator in (Django)</h1>

    <div class="container">
        <h1 style="color:white;">Calculator</h1>
        <form method="POST">
            {% csrf_token %}
            {% comment %} {{ Form }} {% endcomment %}
            <div class="form-group">
                <label for="val1" style="color:white;">First Number :</label>
                <input type="text" value={{n1}} name="val1" required>
            </div>
            <div class="form-group">
                <label for="opr" style="color:white;">Select Operator :</label>
                <select name="opr" style="color:white;width:100%; font-weight:bold; background-color:black;">
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">/</option>
                </select>
            </div>
            <div class="form-group">
                <label for="val2" style="color:white;">Second Number :</label>
                <input type="text" value={{n2}} name="val2" required>
            </div>
            <button type="submit" id="btn">Calculate</button>
            <div class="form-group">
                <label for="output" style="color:white;">Final Result :</label>
                <input type="output" value={{ result }}>
            </div>
        </form>
    </div>