<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="{% if request.path == '/' %} active {% endif %} "><a href="/welcome">Home</a></li>
                <li class="{% if request.path == '/about/' %} active {% endif %} "><a href="#">About</a></li>
                <li class="{% if request.path == '/contact/' %} active {% endif %} "><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <h1 style="color:white; text-align:center;">Welcome to About Page</h1>

    <p style="color:white; text-align:center;">This is a sample About page.</p>

    <ul style="color:white; text-align:center;">
        {% for item in courses %}
            <li style="text-align:center;">{{ item }}</li>
        {% endfor %}
    </ul>

    <script src="/static/js/main.js"></script>
</body>
</html>
